* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

button {
    font-size: 1rem;
    padding: 0.5em;
}

input,
textarea {
    font-size: 1rem;
    padding: 0.5em;
}

p {
    font-size: 1rem;
    line-height: 1em;
}

body {
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1rem;
    height: 100dvh;
    grid-template-areas:
        "FORM"
        "LIST";
}

    body * {
        width: 100%;
    }

.screen-loading {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-content: center;
    color: white;
}

    .screen-loading.active {
        display: grid;
    }

form#formItem {
    grid-area: FORM;
}

.item-list {
    display: grid;
    align-content: start;
    gap: 1rem;
    grid-area: LIST;
    overflow-y: auto;
    scroll-behavior: smooth;
}

    .item-list .item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-flow: column;
        gap: 1rem;
    }

        .item-list .item p {
            padding: 0.5em;
            align-self: center;
        }

        .item-list .item .item-actions {
            display: grid;
            grid-auto-flow: column;
            gap: 1rem;
        }
